html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.active {
  border-bottom: 2px solid #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-header {
  position: relative;
  background: gainsboro;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 4px 5px;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.content-body {
  position: relative;
  background: whitesmoke;
  width: 100%;  
  height: calc(100% - 45px);
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: -ms-calc(100% - 45px);
  height: -o-calc(100% - 45px);
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto !;
}
.c-content {
  width: 100%;
  height: 150px;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-head{
  height: 150px;
  background: #FFF;
 
}
.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}
.main {
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }
  .register-form{
      margin-top: 10%;
  }
}
@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }
  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }
  .login-form{
      margin-top: 10%;
  }
  .register-form{
      margin-top: 10%;
  }
}
.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}
.login-main-text h2{
  font-weight: 300;
}
.btn-black{
  background-color: #000 !important;
  color: #fff;
}
